@font-face {
font-family: 'SF Compact Text Regular Italic';
font-style: normal;
font-weight: normal;
src: local('SF Compact Text Regular Italic'), url('sf-compact-text-italic-58646f7cbab10.woff') format('woff');
}


@font-face {
font-family: 'SF Compact Text Heavy';
font-style: normal;
font-weight: normal;
src: local('SF Compact Text Heavy'), url('sf-compact-text-heavy-58646f645b774.woff') format('woff');
}

@font-face {
font-family: 'SF Compact Text Regular';
font-style: normal;
font-weight: normal;
src: local('SF Compact Text Regular'), url('SF-Compact-Text-Regular.woff') format('woff');
}

*{
	font-family: 'SF Compact Text Regular', kaiti;}

*{
	box-sizing:border-box;
}